@page "/recommendations"
@using AlbionMarket.Core.Models;
@implements IDisposable

<PageTitle>Reccomendations</PageTitle>

@using AlbionMarket.Core;
@using AlbionMarket.Services
@using System.Timers

@inject MarketPairInfoService MarketPairInfoService;
@inject WorkerStateService WorkerStateService;
@inject MarketPairStateService MarketPairStateService;

<h1>Albion Market Scanner</h1>

<p>@CurrentTime</p>

<p>Scan in Progress - @ScanInProgress</p>
<p>Items Found - @ItemsFound</p>
<p>Last Scan Start Time - @LastScanTimeStarted</p>
<p>Last Scan Finished Time - @LastScanTimeFinished</p>


@if (recomendations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td>Check</td>
                <th>Name</th>
                <th>Tier</th>
                <th>Enchant</th>
                <th>Quality</th>
                <th>Price (BlackMarket)</th>
                <th>Price (Kaerlion)</th>
                <th>Profit</th>
                <th>Date (BlackMarket)</th>
                <th>Date (Kaerlion)</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var recommendation in recomendations)
            {
                <tr>
                    <td><button @onclick="() => CheckItem(recommendation)">Check</button></td>
                    <td>@recommendation.ItemName</td>
                    <td>@recommendation.Tier</td>
                    <td>@recommendation.EnchantLevel</td>
                    <td>@recommendation.ItemQuality</td>
                    <td>@recommendation.PriceBlackMarket</td>
                    <td>@recommendation.PriceCaerleon</td>
                    <td>@recommendation.PotentialProfit</td>
                    <td>@recommendation.SellDateBlackMarket</td>
                    <td>@recommendation.SellDateCaerlion</td>
                    
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<MarketRecommendation>? recomendations;
    private int ItemsFound;
    private DateTime? LastScanTimeStarted;
    private DateTime? LastScanTimeFinished;
    private Timer timer;
    private DateTime CurrentTime;

    private bool ScanInProgress;

    private void CheckItem(MarketRecommendation recommendation)
    {
        //CheckedItemsService.CheckItem(recommendation.ItemId);
        //recomendations.Remove(recommendation);
    }

    protected override async Task OnInitializedAsync()
    {
        recomendations = await MarketPairInfoService.GetProfitableMarketPairs();
        CurrentTime = DateTime.UtcNow;

        await base.OnInitializedAsync();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            timer = new Timer();
            timer.Interval = 5000;
            timer.Elapsed += OnTimerInterval;
            timer.AutoReset = true;

            timer.Enabled = true;
        }
        base.OnAfterRender(firstRender);
    }

    private async void OnTimerInterval(object sender, ElapsedEventArgs e)
    {
        Console.WriteLine("Updating values...");

        ItemsFound = WorkerStateService.ItemsFound;
        LastScanTimeFinished = WorkerStateService.LastScanFinished;
        LastScanTimeStarted = WorkerStateService.LastScanStart;

        ScanInProgress = WorkerStateService.ScanInProgress;
        CurrentTime = DateTime.UtcNow;

        recomendations = await MarketPairInfoService.GetProfitableMarketPairs();

        await InvokeAsync(() => StateHasChanged());
    }

    public void Dispose()
    {
        // During prerender, this component is rendered without calling OnAfterRender and then immediately disposed
        // this mean timer will be null so we have to check for null or use the Null-conditional operator ?
        timer?.Dispose();
    }
}
